<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="gecko.mybaby"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        
        <activity
            android:name="gecko.mybaby.view.MyBabyActivity"
            android:label="@string/my_baby"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.AddBabyActivity"
            android:label="@string/add_baby"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.GraphicsActivity"
            android:label="@string/graphics"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.HistoricActivity"
            android:label="@string/historic"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.AddHistoricActivity"
            android:label="@string/add_historic"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.VaccinesActivity"
            android:label="@string/vaccines"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.AddVaccineActivity"
            android:label="@string/add_vaccine"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.VaccineDetailsActivity"
            android:label="@string/vaccine_details"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.ProgressActivity"
            android:label="@string/progress"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.AlarmReceiverActivity"
            android:label="@string/alarm"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.TipsActivity"
            android:label="@string/tips"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.FromMotherToMotherActivity"
            android:label="@string/tips_info"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
      	<activity
            android:name="gecko.mybaby.view.BooksResultsActivity"
            android:label="@string/books" 
        	android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
      	
        
        <activity
            android:name="gecko.mybaby.view.LoginActivity"
            android:label="@string/my_baby"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.EditBabyActivity"
            android:label="@string/edit_baby"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.webservice.AddRemoteUser"
            android:label="@string/new_user"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.MyBabyPreferencesActivity"
            android:label="@string/my_baby_preferences"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="gecko.mybaby.view.IntroActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
            
            <intent-filter>
                
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            
            </intent-filter>
            
        </activity>
        
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/facebook"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" />
        
        <provider
	       android:authorities="gecko.mybaby.provider"
	       android:name="gecko.mybaby.provider.BabyProvider" />
        
        <meta-data
            android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id" />
		
    </application>

</manifest>